.requests-grid {
    justify-content: center;

    grid-row: content-s/content-e;
    
    display: grid;
    grid-template-rows: [add-s] 4.7rem [add-e s boxes-s] 500px [boxes-e e];
    grid-template-columns: [boxes-s] 16rem [boxes-e request-s] 960px [request-e];

    // grid-row-gap: 3.85rem;
    grid-column-gap: 6.1rem;

    &__button {
        grid-row: add-s/add-e;
        grid-column: request-s/request-e;
        justify-self: end;
        align-self: center;
        margin-right: 1rem;
    }   
}